__pycache__
.pytest_cache
.vscode
logfiles
oldstuff
BaseGameEnvelope.ipynb
.exe
A.txt
b.txt
c.txt
simp_rev_A_eq.txt
simp_rev_b_eq.txt
x.txt
/Clp-releases.1.17.9-w64-msvc16-md
/CLP
Af.txt
Aff.txt
*.xlsx
*.pickle
